*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.abc{
    z-index: 1;
    position: relative;
}
/* ---------------HEADER--------------- */
.Header{
    height: 45rem;
    background-image: url("Images/banner1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding-top: 20px;
    text-align: center;
    
}
.Header::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0.6)60%,black 100%);

}
.Header img{
    width: 60px;
    float: left;
    margin-left: 20px;
}
.login-btn{
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid white;
    border-radius: 50px;
    background: transparent;
    color: white;
    float: right;
}
.Header h1{
    color: white;
    padding-top: 240px;
    padding-bottom: 0;
    font-size: 55px;
    
}
.input-group{
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    background: white;
    margin: auto;
    padding: 2px;
    display: inline         ;
}
.form-control{
    border: 0 !important;
    border-radius: 30px !important;
    margin: 2px; 
    box-shadow: none !important ; 
}
.input-group-text{
    width: 100px;
    background-image: linear-gradient(#00ff7e,#1f3d90);
    border: 0 !important;
    color: white !important;
    padding: 0 25px !important;
    border-radius: 30px !important;
    box-shadow: none !important;
}
.input-group-append{
    margin: auto 0;
}

/* ---------------Features--------------- */

.features{
    padding: 100px 0;

}
h1{
    text-align: center;
    padding-bottom: 30px;
}
.feature-img img{
    width: 100%;
}
.price{
    width: 50px;
    height: 50px;
    background: #ff5722;
    color: white;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(37,73,214,0.18);
    position: absolute;
    left: 20px;
    bottom: -25px;
}
.feature-img{
    position: relative;
}
.rating{
    padding: 3px;
    float: right;
    background: white;
    bottom: -1px;
    right: 0;
    position:absolute;
}
.features .fa{
    font-size: 15px;
    color: #ff5722;
}
.feature-details{
    padding: 20px;
    text-align: justify;
}
.feature-details h4{
    margin-top: 20px;
    font-weight: 600;
}
.feature-details p{
    font-size: 12px;
}
.feature-details fa{
    margin-right: 5px;
}
.feature-box{
    box-shadow: 0 0 10px 5px rgba(37,73,214,0.18);
}


/* ---------------Gallery--------------- */
.gallery{
    padding: 70px 0;
    background-color:#DCDCDC;
}
.gallery h1{
    padding-bottom: 50px;
}

.gallery-box img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;
}
.gallery-box img:hover{
    transform: scale(1.1);
}
.gallery-box h4{
    padding-top: 12px;
    text-align: center;
    text-shadow: -2px 2px 2px rgb(191, 255, 0);
}
.gallery-box{
    position:relative;
    margin-bottom: 30px;
}

/* ---------------Banner--------------- */
.banner{
    height: 45rem;
    background-image: url("/Images/banner2.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 14%;
}
.banner-highlights{

    padding: 70px 0;
    background:rgb(0,0,0,0.7);
    text-align: center;
    color: #fff;
}
.booking-btn{
    width: 120px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid white;
    border-radius: 50px;
    background: transparent;
    color: white;
    margin-top: 20px;
}

/* ---------------User Review--------------- */
.users-feedback{
    padding: 70px;
}
.user-review{
    text-align: center;
    box-shadow: 0 0 10px 1px rgba(0,0,100,0.2);
    padding-bottom: 50px;
}
.user-review p{
    padding: 50px 10px 10px 10px;

}